/* Assuming your form has a class name 'signin-form' */
body{
 background-image: url(leaves-4754980_1280.jpg);
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}
.signin-form {
  width: 350px;
  /* margin: 0 auto; */
  /* margin: 10px; */
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9ba;
  border: none;
}

.signin-form label {
  display: block;
  margin-bottom: 8px;
}

.signin-form input[type="email"],
.signin-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
 
}

.signin-form button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signin-form button:hover {
  background-color: #45a049;
}

/* Optional: Centering the form vertically */
.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}


